<script>
export default {
  name: "hamburgher-menu",
  data() {
    return {
      hover: false,
      show: true
    }
  }
}
</script>

<template>
  <div class="fixed right-0 mt-8 mr-6 z-50">
    <div @mouseover="hover = true"
        @mouseleave="hover = false">

      <transition name="fade">
        <div class="panel relative inline-block py-4 px-3 border-white border-2 rounded-full text-right"
             v-show="show">
          <transition name="bounce">
            <p v-if="hover" class="text-white absolute">Menu</p>
          </transition>

          <div class="inline-flex flex-col items-center align-middle " v-bind:class="{ 'inline-flex ': hover }">
            <div class="w-8 h-px bg-white rounded-sm border-2 border-white"></div>
            <div class="w-8 h-1 bg-white rounded-sm my-1"></div>
            <div class="w-8 h-1 bg-white rounded-sm"></div>
          </div>
        </div>
      </transition>
    </div>
  </div>

</template>

<style scoped>
.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transition: all 1s ease;
    opacity: 0;
    left: 3rem;
  }
  100% {
    opacity: 1;
    left: 0.75rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: transform 0.5s;
}

.fade-enter,
.fade-leave-to {
  transform: scaleX(2);
}

.fade-enter-to,
.fade-leave {
  transform: scaleX(1);
}

.panel {
  width: 4rem;
}

</style>