<script>
export default {
  name: "home"
}
</script>

<template>

  <div class="shadow-c relative z-20">
    <div class="logo bg-primary h-screen w-screen">
      <div class="container h-screen flex flex-col justify-center mx-auto bg-pink-800 ">

        <kinesis-container class="flex w-full justify-around items-center ">
          <kinesis-element :strength="150">
            <div class="w-full mb-20">
              <h1 class="text-8xl font-normal leading-extra-thin text-pink ">Hi,<br>
                <span class="text-white">I’m Cinzia </span>
              </h1>
              <h2 class="text-3xl text-pink mt-2"> Web & Mobile Developer </h2>
            </div>
          </kinesis-element>
          <kinesis-element :strength="150">
            <div class="w-full h-full max-h-3/4 z-20 text-left">
              <img src="src/assets/circle.svg" class="w-full h-full z-20 ">
            </div>
          </kinesis-element>
        </kinesis-container>

        <kinesis-container
            class="absolute right-0 top-0 inline-block w-screen h-screen z-0 overflow-hidden grid grid-cols-2 lg:grid-cols-6 gap-4">

          <kinesis-element :strength="150" class="inline-block place-self-center">
            <img src="src/assets/quadra.svg" alt="logrocket logo" class="inline-block ">
          </kinesis-element>
          <kinesis-element :strength="10" class="inline-block place-self-center">
            <img src="src/assets/punto-rosa.svg" alt="logrocket logo" class="inline-block ">
          </kinesis-element>
          <kinesis-element :strength="20" class="inline-block place-self-end">
            <img src="src/assets/maggiore-rosa.svg" alt="logrocket logo" class="inline-block ">
          </kinesis-element>
          <kinesis-element :strength="80" class="inline-block ">
            <img src="src/assets/punto-viola.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="100" class="inline-block">
            <img src="src/assets/linea-blu-d.svg" alt="logrocket logo" class="inline-block  ">
          </kinesis-element>
          <kinesis-element :strength="40" class="inline-block place-self-center">
            <img src="src/assets/graffa.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>

          <kinesis-element :strength="10" class="inline-block col-span-2 pl-32 mt-48">
            <img src="src/assets/punto-verde.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="90" class="inline-block col-span-3 mt-48 ml-64">
            <img src="src/assets/asterisco-2.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="150" class="inline-block mt-20">
            <img src="src/assets/linea-gialla-l.svg" alt="logrocket logo" class="inline-block  ">
          </kinesis-element>

          <kinesis-element :strength="20" class="inline-block pt-32 ml-20">
            <img src="src/assets/asterisco-rosa.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="40" class="inline-block">
            <img src="src/assets/linea-gialla-r.svg" alt="logrocket logo" class="inline-block  ">
          </kinesis-element>
          <kinesis-element :strength="10" class="inline-block mt-20">
            <img src="src/assets/punto-rosa.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="40" class="inline-block">
            <img src="src/assets/maggiore-blu.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>
          <kinesis-element :strength="10" class="inline-block">
            <img src="src/assets/punto-viola.svg" alt="logrocket logo" class="inline-block mt-32">
          </kinesis-element>
          <kinesis-element :strength="40" class="inline-block place-self-center">
            <img src="src/assets/uguale.svg" alt="logrocket logo" class="inline-block">
          </kinesis-element>

        </kinesis-container>
        <!--      <HelloWorld msg="Hello Vue 3 + Vite ciao"/>-->
        

      </div>
    </div>
    <div class="absolute bottom-0 left-0 text-center w-full">
      <img src="src/assets/mouse.svg" class="inline-block ml-64 pl-32 mb-12">
    </div>
  </div>


  <svg width="0" height="0">
    <defs>
      <clipPath id="myCurve" clipPathUnits="objectBoundingBox">
        <path
            d="M0,1C.04763.93609.07525.92431.09216.92941.114.936.15534.97672.18562.97516c.051-.00261.09412-.08758.183-.034C.46235.99769.54661.77428.60935.803.64983.82159.66172.86939.702.87974.74771.8915.795.82771.82614.85882c.04078.04078.02223.102.051.102C.91433.96078.9338.90766.95556.92941.97255.94641.97516.96732,1,1V0H0Z"/>
      </clipPath>
    </defs>
  </svg>
  <svg width="0" height="0">
    <defs>
      <clipPath id="myCurve2" clipPathUnits="objectBoundingBox">
        <path d="M0,1S.21,1,.27.92.4.8.52.91.83.91.86.75,1,.67,1,.67V0H0Z"/>
      </clipPath>
    </defs>
  </svg>

</template>

<style scoped>
.logo {
  clip-path: url(#myCurve);
}

.shadow-c {
  filter: drop-shadow(10px -5px 25px rgba(0, 0, 0, 1));
}

/* animazione cerchi*/

.line {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  height: 1rem;
  width: 20rem;
}

/*.line.line-purple {*/
/*  background-image: linear-gradient(to bottom, rgba(0, 39, 255, 0.76), #7d1c79);*/
/*}*/

/*.line.line-yellow {*/
/*  background-image: linear-gradient(to bottom, rgba(169, 111, 31, 0.55), rgba(125, 28, 121, 0.52))*/
/*}*/

.circle {
  position: relative;
  border-radius: 9999px;
  display: inline-block;
  transform-origin: center center;

}

/*.circle.circle-purple {*/
/*  border: 10px solid;*/
/*  border-image-slice: 1;*/
/*  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);*/
/*  opacity: 0.1;*/
/*  width: 4vw;*/
/*  height: 4vw;*/
/*  left: 10%;*/
/*  top: 25%;*/
/*}*/


/*.circle.circle-purple1 {*/
/*  border: 15px solid #de0b0b;*/
/*  opacity: 0.1;*/
/*  width: 8vw;*/
/*  height: 8vw;*/
/*  right: -2%;*/
/*  bottom: 17%;*/
/*}*/

/*.circle.circle-purple2 {*/
/*  background-color: #f2eafa;*/
/*  opacity: 0.1;*/
/*  width: 5vw;*/
/*  height: 5vw;*/
/*  left: 20%;*/
/*  bottom: 17%;*/
/*}*/

/*.circle.circle-purple3 {*/
/*  border: 15px solid #f2eafa;*/
/*  opacity: 0.3;*/
/*  width: 3vw;*/
/*  height: 3vw;*/
/*  top: 80%;*/
/*  left: 60%;*/
/*}*/
</style>