<script>
export default {
  name: "lateral-menu"
}
</script>

<template>
  <div class="fixed right-0 mt-32 mr-10 z-50">
    <div class="flex flex-col items-center">
      <div class="h-64 w-px bg-white"></div>
      <div class="bg-pink h-5 w-5 rounded-full mt-10"></div>
      <div class="bg-pink h-3 w-3 rounded-full mt-6"></div>
      <div class="bg-pink h-3 w-3 rounded-full mt-6"></div>
      <div class="bg-pink h-3 w-3 rounded-full mt-6"></div>
      <div class="h-20 w-px bg-white m-3 mt-10"></div>
      <span class="text-white mt-5">F</span>
      <span class="text-white mt-5">LN</span>
      <span class="text-white mt-5">IN</span>
      <div class="h-56 w-px bg-white mt-10"></div>
    </div>
  </div>
</template>