<script>
export default {
  name: "project"

}
</script>

<template>

<!--  <kinesis-container event="scroll" class="relative container-t h-screen w-screen inline-block z-0">-->
<!--    <kinesis-element-->
<!--        class="h-64 mt-5"-->
<!--        :strength="50"-->
<!--        type="translate">-->
<!--      <h1 class="text-white text-6xl">nkjnkj</h1>-->
<!--      <img src="src/assets/skill/cerchio-rosa.svg" alt="logrocket logo" class="w-full h-full inline-block"/>-->
<!--    </kinesis-element>-->
<!--    &lt;!&ndash;    <kinesis-element&ndash;&gt;-->
<!--    &lt;!&ndash;        tag="img"&ndash;&gt;-->
<!--    &lt;!&ndash;        transformOrigin="100%"&ndash;&gt;-->
<!--    &lt;!&ndash;        class="bg-white"&ndash;&gt;-->
<!--    &lt;!&ndash;        :strength="300"&ndash;&gt;-->
<!--    &lt;!&ndash;        type="rotate"/>&ndash;&gt;-->
<!--    <kinesis-element-->
<!--        originX="0"-->
<!--        originY="100"-->
<!--        :strength="-300"-->
<!--        class="h-64 w-full"-->
<!--        type="rotate">-->
<!--      <h1 class="text-white text-5xl ">viohi</h1>-->
<!--      <img src="src/assets/skill/cerchio-arancione.svg" alt="logrocket logo" class="w-full h-full inline-block"/>-->
<!--      <kinesis-element-->
<!--          tag="img"-->
<!--          class="z-0"-->
<!--          src="src/assets/es.png"-->
<!--          transformOrigin="100% 100%"-->
<!--          :strength="100"-->
<!--          type="rotate"/>-->
<!--    </kinesis-element>-->
<!--    <kinesis-element-->
<!--        tag="img"-->
<!--        class="ml-64"-->
<!--        src="src/assets/es.png"-->
<!--        :transformOrigin="100"-->
<!--        :strength="20"-->
<!--        type="rotate"/>-->
<!--  </kinesis-container>-->

</template>

<style scoped>
img {
  width: 5rem;
}
</style>