<script>
export default {
  name: "specialization"

}
</script>

<template>
  <div class="flex relative container content-center m-auto z-0">

    <div
        class="relative grid grid-cols-1 lg:grid-cols-4 z-20 w-full h-screen py-64 px-32 self-center place-items-center ">
      <div class="col-start-2 relative flex flex-col justify-center w-full content-background p-3">
        <div class="absolute w-full h-full top-0 left-0 content-inter-background"></div>
<!--        <img src="src/assets/skill/contenitore-blu.svg" class="inline-block absolute h-full w-full top-0 left-0">-->
        <img src="src/assets/skill/logo_mobile.svg" class="inline-block w-full max-w-md max-h-1/4 "/>
        <h2 class="relative uppercase text-white text-center text-2xl leading-thin mt-12">
          <span class="text-pink font-semibold"> Mobile </span> <br> Developer</h2>
      </div>
      <div class="col-start-4 relative flex flex-col justify-around w-full h-full">
        <img src="src/assets/skill/contenitore-rosa.svg" class="inline-block absolute h-full w-full top-0 left-0">
        <h2 class="relative uppercase text-white text-center text-2xl  leading-thin mt-20">Mobile <br> Developer</h2>
      </div>
      <div class="col-start-1 relative flex flex-col justify-center w-full h-full">
        <img src="src/assets/skill/contenitore-rosa.svg" class="inline-block absolute w-full h-full top-0 left-0">
        <h2 class="relative uppercase text-white text-center text-2xl leading-thin mt-20">Mobile <br> Developer</h2>
      </div>
      <div class="col-start-3 relative flex flex-col justify-center w-full h-full">
        <img src="src/assets/skill/contenitore-blu.svg" class="inline-block absolute w-full h-full top-0 left-0 ">
        <h2 class="relative uppercase text-white text-center text-2xl leading-thin mt-20">Mobile <br> Developer</h2>

      </div>
    </div>

    <kinesis-container event="scroll" class="absolute flex top-0 left-0 h-full w-full">
      <kinesis-element class="inline-block w-auto mt-48">
        <kinesis-scroll
            class="w-full max-w-3xl inline-block relative -ml-32 mr-32"
            :strength="550"
            transformOrigin="left bottom"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-rosa.svg"/>
        <kinesis-scroll
            class="w-full max-w-1xl inline-block absolute top-0 left-0"
            :strength="300"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-blu.svg"/>
        <kinesis-scroll
            class="w-full max-w-1xl inline-block relative mt-32 ml-20 "
            :strength="300"
            transformOrigin="top"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-blu.svg"/>
      </kinesis-element>
      <!--      SECONDA COLONNA -->
      <kinesis-element class="inline-block w-auto -ml-40">
        <kinesis-scroll
            class="w-full max-w-1xl inline-block relative ml-20 "
            :strength="300"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-arancione.svg"/>
        <kinesis-scroll
            class="w-full max-w-2xl inline-block relative mt-48 "
            :strength="300"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-rosa.svg"/>

      </kinesis-element>
      <!-- TERZA COLONNA-->
      <kinesis-element class="inline-block w-auto -ml-40">
        <kinesis-scroll
            class="w-full max-w-2xl inline-block relative mt-12  "
            :strength="100"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-rosa.svg"/>
        <kinesis-scroll
            class="w-full max-w-2xl inline-block relative ml-20 "
            :strength="300"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-arancione.svg"/>
      </kinesis-element>
      <!-- QUARTA COLONNA-->
      <kinesis-element class="inline-block w-auto ">
        <kinesis-scroll
            class="w-full max-w-1xl inline-block relative -mt-48"
            :strength="250"
            transformOrigin="top"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-blu.svg"/>
        <kinesis-scroll
            class="w-full max-w-2xl inline-block relative -ml-56 mt-64 mr-56 "
            :strength="400"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-rosa.svg"/>

        <kinesis-scroll
            class="w-full max-w-4xl inline-block relative -ml-32 "
            :strength="700"
            transformOrigin="center"
            type="translate"
            tag="img"
            originY="100"
            axis="y"
            src="src/assets/skill/cerchio-rosa.svg"/>
      </kinesis-element>

      <!--      <kinesis-element class="inline-block">-->
      <!--        <kinesis-scroll-->
      <!--            class="w-64 inline-block relative ml-64"-->
      <!--            :strength="200"-->
      <!--            transformOrigin="left bottom"-->
      <!--            type="translate"-->
      <!--            tag="img"-->
      <!--            originY="100"-->
      <!--            axis="y"-->
      <!--            src="src/assets/skill/cerchio-rosa.svg"/>-->
      <!--      </kinesis-element>-->

      <!--      <kinesis-element class="inline-block">-->
      <!--        <kinesis-scroll-->
      <!--            class="w-64 inline-block relative ml-64"-->
      <!--            :strength="200"-->
      <!--            transformOrigin="left bottom"-->
      <!--            type="translate"-->
      <!--            tag="img"-->
      <!--            originY="100"-->
      <!--            axis="y"-->
      <!--            src="src/assets/skill/cerchio-rosa.svg"/>-->
      <!--      </kinesis-element>-->

    </kinesis-container>
  </div>
</template>

<style scoped>

.content-background {
  /*max-height: 30rem;*/
  /*max-width: 30rem;*/
  padding: 1rem 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #2c194c, #4a0637);
  max-width: 18rem;
  width: 100%;
  max-height: 18rem;
  height: 100%;
}

.content-inter-background {
  border-radius: 50px;
  box-shadow: inset 0 0 10px 8px rgba(0, 0, 0, 0.16);

}
</style>