<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup

import VueKinesis from 'vue-kinesis';
import Home from "./components/Home.vue";
import Specialization from "./components/Specialization.vue";
import LateralMenu from "./components/LateralMenu.vue";
import HamburgherMenu from "./components/HamburgherMenu.vue";
import Project from "./components/Project.vue";

</script>

<template>
  <!--  <div class="fixed right-0 mt-8 mr-12">-->
  <hamburgher-menu></hamburgher-menu>
  <lateral-menu></lateral-menu>
  <!--  </div>-->
  <home></home>
  <specialization></specialization>
  <project></project>
<!--  <home></home>-->
</template>

<style scoped>

</style>