@tailwind base;
@tailwind components;
@tailwind utilities;

/*Rendo invisibile la scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
    display: none;
}
